# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/

# VS / VSCode / Rider
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.VC.db
*.DotSettings.user

# Mono / pdb
*.pdb
*.mdb
*.opendb
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash / debug
sysinfo.txt
mono_crash.*

# Blender backup
*.blend1
*.blend1.meta

# Android / iOS / macOS / UWP / Addressables builds
*.apk
*.aab
*.app
*.unitypackage
*.unitypackage.meta
.gradle/
/ServerData/
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Unity Visual Scripting
/[Aa]ssets/Unity.VisualScripting.Generated/

# Asset Store Tools plugin
# /[Aa]ssets/AssetStoreTools*

# Play Mode test scenes
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*

# Crashlytics
crashlytics-build.properties

# Recordings
/[Rr]ecordings/

# Test runner generated
InitTestScene*.unity*

# Ignore logs
*.log
